<html xmlns:th="https://wwww.thymeleaf.org">
<head>
	<title>Radio Stations</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/semantic.min.css}" rel="stylesheet" />
    <link th:href="@{/styles/universal.css}" rel="stylesheet"/>
</head>
<body>
	<!-- "recordings": [
    {
      "order": 1, 
      "personNickname": "Jon",
      "personName":"Jonathan Saddler",
      "newScore": 12,
      "gameId": "Scrabble"
    }, -->
	<h1>Radio Stations</h1>
	<div class="viewer ui container">
	<div class="ui grid">
		<div class="twelve wide column">
			<h2 class="subtitle">All Stations</h2>
			<table class="ui celled table">
			<!--  
			(1 , 'SmileFM', 88.1,        'Christian/Inspirational')
			(radio_id, call_name, fm_freq, category)
			 -->
			
			<tr>
				<th>Call Name</th> <th>FM Frequency</th> <th>Category</th>
			</tr>
			<tr th:each="rad: ${radsets.record}">
				<td th:each="person : ${turn}" th:text="${person.score}">
					Score
				</td>
			</tr>
				<!-- 
				<tr>
					<th>Call Name</th>
					<th>FM Freq.</th>
					<th>Category</th>
				</tr>
				<tr>
					<td>Z92.5 The Castle</td>
					<td>92.5 FM</td>
					<td>Variety</td>
				</tr>
				-->
			</table>
		</div>
		<div class="four wide column">
			<div class="logo-space">
				<p>Logo goes here.</p>
			</div>
		</div>
	</div>
	</div>
	<!-- order}">a</td>
					<td th:text="${recording.personNickname}">a</td>
					<td th:text="${recording.newScore}">a</td>
					<td th:text="${recording.gameId}"> -->
</body>
</html>